Dictionary
-indexed
-ordered
-multiple values
-mutable

In [ ]:
#d={<key>:<value>,<key>:<value>}

In [3]:
d={'a':"apple",'b':"shyau",'c':"kera"}
print(type(d))
print(d)
print(d['c'])

<class 'dict'>
{'a': 'apple', 'b': 'shyau', 'c': 'kera'}
kera

In [4]:
d={'a':"Apple",'b':"ball",'c':"cat",'A':"Apple"}
print(d)

{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'A': 'Apple'}

In [5]:
d={'A':"Apple",'b':"ball",'c':"cat",'A':"apple"}
print(d) #mutable: meaning value changes

{'A': 'apple', 'b': 'ball', 'c': 'cat'}

In [6]:
d=dict()
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d=dict()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name:")
    phone=input("enter phone:")
    d[name]=phone

print(d)

{'subash': '9860933188', 'santosh': '9868053484'}

In [9]:
for i in d:
    print(i)

subash
santosh

In [16]:
for i in d.values():
    print(i)

9860933188
9868053484

In [17]:
for i in d.items():
    print(i)

('subash', '9860933188')
('santosh', '9868053484')

In [18]:
l=[]
for i in d.items():
    l.append(i)
print(l)
print(dict(l))

[('subash', '9860933188'), ('santosh', '9868053484')]
{'subash': '9860933188', 'santosh': '9868053484'}

In [21]:

d={'Ram':98888855885,'Shyam':9855864485}
d['Ram'] = 9800000000

print(d)

{'Ram': 9800000000, 'Shyam': 9855864485}

In [22]:
#del pop()
d={'Ram':98888855885,'Shyam':9855864485}
del d['Ram']
print(d)

{'Shyam': 9855864485}

OR

In [20]:
d={'Ram':98888855885,'Shyam':9855864485}
d.pop('Ram')
print(d)

{'Shyam': 9855864485}

In [23]:
#list inside dict
d={'Ram':[9800007766,988776654],
'Shyam':[9877665566,877665889]}
print(d)

{'Ram': [9800007766, 988776654], 'Shyam': [9877665566, 877665889]}

In [26]:
d={}
n=int(input("enter n:"))
for i in range(n):
    name=input("enter name=")
    ntc_no=int(input("enter ntc no:"))
    ncell_no=int(input("enter ncell no:"))
    d[name]=[ntc_no,ncell_no]
print(d)

{'subash': [9860933188, 9801905652]}

In [1]:
#dict inside dict
d={}
d['Ram']={'ntc':9876543234,'ncell':9812345678}
d['Shyam']={'ntc':9867543456,'ncell':9812367584}
print(d)

{'Ram': {'ntc': 9876543234, 'ncell': 9812345678}, 'Shyam': {'ntc': 9867543456, 'ncell': 9812367584}}

In [4]:
d={}
n=int(input("enter n:"))
for i in range(n):
    name=input("enter name:")
    ntc_no=int(input("enter ntc no:"))
    ncell_no=int(input("enter ncell no:"))
    d[name]={'ntc':ntc_no,'ncell':ncell_no}
print(d)

{'subash': {'ntc': 9860933188, 'ncell': 9801905652}, 'santosh': {'ntc': 9868056484, 'ncell': 9812345678}}